body {
    font-family: Roboto, Arial, sans-serif;
}
nav {
 
    /*  TODO */
    display: flex;
    flex-direction: row;
    flex-grow: 0;

    align-items: center;
    box-shadow: rgba(27, 31, 35, 0.04) 0px 1px 0px, rgba(255, 255, 255, 0.25) 0px 1px 0px inset;
    padding: 10px;
}
.nav-left {
    /*  TODO */
    display: flex;
    flex-grow: 1;

}
.nav-right {
    /*  TODO */
    display: flex;
    flex-grow: 1;
    justify-content: space-evenly;
    
}
.nav-center {
    /*  TODO */
    display: flex;
    flex-direction: center;
    justify-content: space-between;
    flex-grow: 2;
}
.nav-center input {
    width: 90%;
    padding: 9px;
}
.nav-center i {
    background: #f5ecec;
    padding: 8px;
    box-sizing: border-box;
    border-radius: 50%;
}
header {
    width: 93%;
    margin: auto;
    margin-top: 16px;
    padding: 10px;
}
header span {
    padding: 10px;
    background: #e2e0e0;
    border-radius: 40px;
    cursor: pointer;
    font-size: 15px;
    margin-right: 10px;
}
.active {
    background: #000;
    color: #fff;
}
.video-container { 
    /*  TODO */
    display: flex;
    margin: 20px;
    margin-top: 16px;
    margin-right: 20px;
    gap: 15px;
    flex-wrap: wrap;
    flex-grow: 1;
    background-color: rgba(232, 231, 231, 0.409);
    padding: 10px;
    padding-left: 20px;
}
.video {

   /*  TODO */
   display: flex;
   flex-direction: column;
}
.video-thumbnail img {
   /*  TODO */
   width: 340px;

}
.video-text {
  /*  TODO */
  width: 340px;
 
}


.text {
    line-height: 1.5;
}
.text p {
    margin: 0;
    margin-top: 10px;
}
.text p,
.text span {
    color: rgb(105, 102, 102);
}
.text strong {
    font-weight: 500;
}